<p>He's a wizard.</p>

<input type="text" name="test-textbox" id="test-textbox">
<textarea name="test-textarea" id="test-textarea" cols="30" rows="10"></textarea>
<label for="test-checkbox"><input type="checkbox" name="test-checkbox" id="test-checkbox">Checkbox 1</label>
<label for="test-checkbox1"><input type="checkbox" name="test-checkbox1" id="test-checkbox1">Checkbox 2</label>
<label for="test-radio1"><input type="radio" value="Test1" name="test-radio" id="test-radio1">Radio 1</label>
<label for="test-radio2"><input type="radio" value="Test2" name="test-radio" id="test-radio2">Radio 2</label>
<label for="test-radio3"><input type="radio" value="Test3" name="test-radio" id="test-radio3">Radio 3</label>

<a href="#" data-pm-url="partials/test-1">Wait, go back...</a>
<a href="#" data-pm-url="partials/warning-1">See more...</a>